<div>
  <h2 mat-dialog-title>Task Editor</h2>
  <hr>
  <mat-dialog-content>
    <div class="editor-container">
      <mat-form-field>
        <input matInput placeholder="Input" [(ngModel)]="task.title">
      </mat-form-field>

      <mat-form-field>
        <textarea matInput placeholder="Textarea" [(ngModel)]="task.description"></textarea>
      </mat-form-field>

    </div>
  </mat-dialog-content>
  <hr>
  <mat-dialog-actions>
    <a class="waves-effect waves-light btn light-green accent-4" mat-raised-button (click)="onCloseConfirm()">Save</a>&nbsp;
    <a class="waves-effect waves-light btn deep-orange lighten-1" mat-raised-button (click)="onCloseCancel()">Cancel</a>

  </mat-dialog-actions>
</div>