<div class="card yellow z-depth-2" [ngClass]="{'lighten-5': task.locked}">
  <div class="card-content ">
    <span class="card-title">
      {{task.title}}
    <span class="right" >
      <i class="tiny material-icons" (click)="editTask()">edit</i>
      <i class="tiny material-icons" (click)="deleteTask(task._id)">delete</i>
    </span>
    </span>
    
    <p>{{task.description}}</p>
  </div>
</div>
