<div class="row">
  <h1 class="text-center">Task Board <a class="btn" (click)="addFolder()">add board</a></h1>
</div>

<div class="row">
  <folder *ngFor="let f of folders" [folder]="f" class="col s3"></folder>
</div>





