<div class="" >
  <h4>{{folder.name}} <a class="btn" (click)="deleteFolder(folder._id)">delete</a></h4>
  <div  class="tasks-folder" [dragula]='"tasks-folder"' [dragulaModel]="folder.tasks" [attr.data-folder]="folder._id">
    <task 
      [task]="task" 
      [folderId]="folder._id" 
      [attr.data-id]="task._id"
      [attr.data-folderId]="folder._id"
      [attr.data-locked]="isTaskLocked(task._id)"
      *ngFor="let task of folder.tasks"
    ></task>
  </div>
  <div class="right-align">
    <a class="btn-floating waves-effect waves-light blue" (click)="addTask()"><i class="material-icons">add</i></a>
  </div>
</div>